.footer {
    width: 100%;
    margin: 5vh 0 0 0 !important;
    background: #c1c2c2;
    color: black; 
    
}

.footer .container .row .col ul li {
    display: inline-block ;
    padding: 10px 20px ;
} 

.social_media {
    margin-top: 30px !important;
}

.footer_text .col {
    padding: 0 35px;
}

.footer_text p{
    font-size: 12px;
}

.footer_list li{
    display: inline-block !important;
    padding: 10px 20px !important;
}