<footer class="footer">
    <div class="container ">
        <div class="row">
            <div class="col d-flex justify-content-start">
                <ul class="social_media">
                    <li><i class="fab fa-facebook-square"></i> Facebook</li>
                    <li><i class="fab fa-instagram-square"></i> Instagram</li>
                    <li><i class="fab fa-twitter"></i> Twitter</li>
                    <li><i class="fab fa-youtube"></i> Youtube</li>
                </ul>
            </div>
            <div class="col d-flex justify-content-end">
                <ul class="social_media">
                    <li>Kontakt</li>
                    <li>O nas</li>
                    <li>Dodatkowe inforamcje</li>
                </ul>
            </div>
        </div>
        <div class="row footer_text">
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores animi cupiditate earum aliquid est, deleniti sit provident perspiciatis voluptate at recusandae eius unde saepe maxime. Dicta placeat harum accusantium maiores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur recusandae, quas illo accusantium doloremque temporibus commodi atque nostrum neque modi tempora voluptate deserunt, quidem distinctio sint enim odit ex magnam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dignissimos corrupti nesciunt voluptatem, sapiente maiores cum commodi earum tenetur molestias ea similique eveniet temporibus nemo ut in laboriosam! Quasi, esse?
    
                </p>
            </div>    
        </div>
        <div class="row">
            <div class="col-8 d-flex justify-content-start">
                <ul class="footer_list">
                    <li>Reklama</li>
                    <li>Wydawca</li>
                    <li>Redakcja</li>
                    <li>Regulamin</li>
                    <li>Polityka prywatności</li>
                    <li>Pomoc</li>
                </ul>
            </div>
            <div class="col d-flex justify-content-end">
                Copyright&copy;2020FILMOTEKA
            </div>
        </div>
    </div>
</footer>