.container {
    margin-top: 100px;
    height: 60vh;
}

.box {
    width: 360px;
    padding: 40px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    box-shadow:  0 0 1em black;
}

.box h1 {
    color: #dc9f0fc7;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type= "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type= "password"]:focus {
    width: 280px;
    border-color: #dc9f0fc7;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #dc9f0fc7;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #dc9f0fc7;
}

.box a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    padding-top: 15px;
}

.box a:hover {
    color: #dc9f0fc7;
    transition: 0.25s;
}