<div class="background_container">
    <div class="container">
        <div class="row section_one">
            <h1>Akcja na planie Avatara</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi incidunt, suscipit, vitae tempore officia nihil modi voluptatibus quae dolorem doloremque placeat, deleniti expedita. Distinctio minima eius iste est voluptatum voluptatem?</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-deck">
            <div class="card">
              <img src="../../../assets/img/zdj2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Kino</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/img/zdj3.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Premiery</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/img/zdj4.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Zwiastuny</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="space_betwen_container">
    <div class="container">
        <div class="row justify-content-md-center title_space"><h1>News</h1></div>
        <div class="row justify-content-md-center">
            <ul class="news_list">
                <li>Polecane</li>
                <li>Filmy</li>
                <li>Seriale</li>
                <li>Ranking</li>
                <li>Box Office</li>
            </ul>
        </div>
    </div>
</div>


<div class="background_container_second">
    <div class="container">
        <div class="row section_two ">
            <h1>Oscary 2019</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi incidunt, suscipit, vitae tempore officia nihil modi voluptatibus quae dolorem doloremque placeat, deleniti expedita. Distinctio minima eius iste est voluptatum voluptatem?</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-deck">
            <div class="card">
              <img src="../../../assets/img/zdj2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Najlepsze Filmy</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/img/zdj3.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Aktorzy</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/img/zdj4.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Reżyserzy</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="space_betwen_container">
    <div class="container">
        <div class="row justify-content-md-center title_space"><h1>Recenzje</h1></div>
        <div class="row justify-content-md-center">
            <ul class="news_list">
                <li>Publiczność</li>
                <li>Krytycy</li>
                <li>Oceny</li>
                <li>Box Office</li>
            </ul>
        </div>
    </div>
</div>

<div class="container card_recenzja">
    <div class="row">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card">
                <img src="../../../assets/img/recenzja1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Joker</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="../../../assets/img/recenzja2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Oscary</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="../../../assets/img/recenzja3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Wiedźmin</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="../../../assets/img/recenzja4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Once upon a time in hollywood</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>