<nav class="fixed-top">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><a routerLink="/home">Filmoteka <i class="fas fa-video icon_color"></i></a></label>
    <ul>
        <li><a class="active" routerLink="/home">Strona główna</a></li>
        <li><a routerLink="/filmy/search">Filmy</a></li>
        <li><a routerLink="/seriale">Seriale</a></li>
        <li><a routerLink="/ranking">Ranking</a></li>
        <li><a routerLink="/my-profile">Mój profil</a></li>
        <li><a routerLink="/login" style="font-size: 25px;"><i class="fas fa-user"></i></a></li>
    </ul>
</nav>



