<div class="container">
    <div class="row  userBackground">
        <div class="userImage">
            <i class="fas fa-user-tie"></i>
        </div>
        <div class="userInfo">
            <h1>Imię Nazwisko</h1>
            <h5>Email@gmail.com</h5>
        </div>
    </div>

    <div class="row">
        <div class="userListNav">
            <ul >
                <li><a href="" style="color: #dc9f0fc7;">O mnie</a></li>
                <li><a href="">Filmy</a></li>
                <li><a href="">Seriale</a></li>
                <li><a href="">Aktywność</a></li>
                <li><a href="">Znajomi</a></li>
            </ul>
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div class="userDescription">
            <div class="userAccountDate">
                <p>Na filmotece od 31 styczeń 2020</p>
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem quasi, consectetur ut suscipit repellat, illo dignissimos nisi doloribus consequuntur nam eius eligendi ab. Provident repudiandae, dicta sit eligendi animi neque?
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="filmInfo">
            <div class="title">
                <h1>FILMY</h1>
            </div>
            <div class="movieInfo">
                <ul>
                    <li><i class="fas fa-star"></i> 100 <span>ocen</span></li>
                    <li><i class="fas fa-heart"></i> 0 <span>ulubionych</span></li>
                    <li><i class="fas fa-eye"></i> 13 <span>chcę zobaczyć</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>